* {
    scroll-behavior: smooth;
}
*, :after, :before {
    box-sizing: border-box;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}
.fade {
    transition: opacity .15s linear;
}
/* .modal.show .modal-dialog {
    transform: translateY(5%);
} */
.modal.show .modal-dialog {
    transform: none;
}
/* .modal.fade .modal-dialog {
    transform: translateY(-50px);
    transition: transform .3s ease-out;
} */
@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
        max-width: 70%;
    }
}
.modal-dialog {
    margin: auto;
    pointer-events: none;
    position: relative;
    width: auto;
}
.modal-content {
    border: 0;
}
@media (min-width: 576px) {
    .modal-content {
        box-shadow: 0 15px 35px #32325d33, 0 5px 15px #0000002b;
    }
}
.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #222a4233;
    border-radius: .2857rem;
    box-shadow: 0 10px 50px 0 #00000080;
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}
.modal-content .modal-header {
    border-bottom: none;
}
.justify-content-center {
    justify-content: center !important;
}
.modal-header {
    align-items: flex-start;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: calc(.2857rem - 1px);
    border-top-right-radius: calc(.2857rem - 1px);
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0;
}
.modal .modal-header .close {
    color: #fd5d93;
    text-shadow: none;
}
.modal-content .modal-header button {
    margin: -1rem -1rem -1rem auto;
    outline: 0;
    padding: 1rem;
    position: absolute;
    right: 27px;
    top: 24px;
}
.modal-header .close {
    margin: -1rem -1rem -1rem auto;
    padding: 24px 24px 0;
}
button.close {
    background-color: #0000;
    border: 0;
    padding: 0;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.close {
    color: #0009;
    float: right;
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 1;
    opacity: .5;
    text-shadow: none;
}
button, input, optgroup, select, textarea {
    font-family: Poppins, sans-serif;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button {
    border-radius: 0;
}
.modal-content .modal-header i.tim-icons {
    font-size: 16px;
}
.tim-icons {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font: normal normal normal 1em / 1 Nucleo;
    text-transform: none;
    vertical-align: middle;
}
.icon-simple-remove:before {
    content: "\ea48";
}
.modal-content .modal-header .title {
    color: #222a42;
    margin-bottom: 0;
    margin-top: 5px;
}
.profile-page .title {
    margin-top: 30px;
    text-align: center;
}
.title.title-up {
    text-transform: uppercase;
}
.title {
    color: #fffc;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 30px;
}
.h4, h4 {
    line-height: 1.45em;
    margin-bottom: 15px;
}
.modal-content .modal-body {
    line-height: 1.9;
}

.modal-body {
    flex: 1 1 auto;
    padding: 24px 24px 16px;
    position: relative;
}
.modal-content .modal-body p {
    color: #222a42;
}
p {
    color: #fffc;
    margin-bottom: 5px;
}
p {
    font-weight: 300;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.modal-backdrop.show {
    opacity: .16;
}

.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    background: #ff0000;
}
.modal-backdrop {
    background-color: #222a42;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1040;
}
.fade {
    transition: opacity .15s linear;
}